venv/
.pytest_cache/
mimaslib.egg-info/
mimaslib/__pychache__/
tests/__pychache__/
.vscode
stuff/
docs/_build
docs/_static
docs/_templates

*.csv
*.html
*.pyc
*.npy
*.ipynb
*.ipynb_checkpoints
*.xlsx


some.py
gs.py
.DS_store
.green